/* Estilos globais e variáveis */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    text-decoration: none;
    list-style: none;
}

:root {
    --primary-color: #ff7043;
    --secondary-color: #333;
    --background-color: #fff8f0;
    --white-color: #FFF;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    /* 1rem = 10px */
}

body {
    background: #fff8f0;
    color: #333;
    font-size: 1.6rem;
    /* Solução Flexbox para o footer */
    display: flex;
    flex-direction: column;
}

/* -------------------------------------------------HEADER---------------------------------------------------------- */

header {
    position: relative;
    height: 100vh;
    width: 100%;
}

header nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5rem 0;
    z-index: 10;
}

header nav ul {
    display: flex;
    gap: 10rem;
}

header nav a {
    color: var(--white-color);
    font-weight: bold;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    position: relative;
    transition: color 0.3s ease;
}

header nav a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.3rem;
    bottom: -0.5rem;
    left: 0;
    background-color: var(--white-color);
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

header nav a:hover {
    color: var(--primary-color);
}

header nav a:hover::after {
    transform: scaleX(1);
}

header #banner {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../img/banner-salgados.jpg') center/cover no-repeat;
    position: relative;
}

header #banner::before {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../img/banner-salgados.png') center/cover no-repeat;
    position: relative;
}

header #banner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.4;
    z-index: 1;
}

header .logo-container {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .logo {
    width: 30rem;
    transition: transform 1s;
}

header .logo:hover {
    transform: scale(1.1);
}

header .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* -----------------------------------------------SECTION CARDÁPIO------------------------------------------------------------ */

#section-cardapio {
    padding: 5rem 0; /* Define o espaçamento vertical */
    text-align: center;
    background-color: var(--primary-color);
    height: 100vh;
    min-height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#section-cardapio h2 {
    margin-bottom: 0;
    font-size: 2.8rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    color: var(--white-color);
    text-shadow: 0.1rem 0.2rem 0.8rem rgba(0, 0, 0, 0.15);
}

.cardapio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
    align-items: stretch;
}

#p-cardapio a {
    font-size: 2rem;
    padding-top: 2.5rem;
    position: relative;
    transition: color 0.3s ease;
    margin-top: 2rem;
    font-weight: bold;
    color: var(--white-color);
    display: inline-block;
}

#p-cardapio a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -5px;
    left: 0;
    background-color: var(--white-color);
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

#p-cardapio a:hover {
    color: var(--secondary-color);
}

#p-cardapio a:hover::after {
    transform: scaleX(1);
}

.salgado {
    background-color: var(--white-color);
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.10);
    transition: transform 1s, box-shadow 0.2s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 25rem;
    flex: 1 1 22rem;
    justify-content: space-between;
}

.salgado:hover {
    transform: translateY(-0.8rem) scale(1.03);
    box-shadow: 0 0.6rem 1.8rem rgba(0, 0, 0, 0.7);
}

.salgado img {
    width: 100%;
    border-radius: 1.2rem;
    margin-bottom: 1rem;
}

.salgado p {
    font-size: 1.6rem;
    color: var(--secondary-color);
    font-weight: 600;
    margin-top: 0.5rem;
    letter-spacing: 0.05rem;
}

/* ---------------------------------------------SECTION SOBRE-------------------------------------------------------------- */

#sobre {
    margin-top: 5rem;
    padding: 5rem 0; /* Adicione um padding interno para a seção "Sobre" */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    min-height: auto;
}

#sobre h2 {
    font-size: 3rem;
    padding-bottom: 2rem;
    color: var(--secondary-color);
}

#sobre p {
    font-size: 1.8rem;
    line-height: 1.6;
    color: var(--secondary-color);
    max-width: 100rem;
    padding-bottom: 5rem;
    text-align: justify;
}

#sobre .container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

#sobre .card {
    width: 300px;
    height: 400px;
    perspective: 1000px;
    cursor: pointer;
}

#sobre .card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1.5s;
    transform-style: preserve-3d;
}

#sobre .card.flipped .card-inner {
    transform: rotateY(180deg);
}

#sobre .card-front,
#sobre .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#sobre #front-1 {
    background-image: linear-gradient(to bottom, #ff704352, #a5a5a559), url('../img/pessoas-festa.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    transition: transform 0.5s ease-in;
}

#sobre #front-1:hover {
    background-image: linear-gradient(to bottom, #ffffff52, #00000059), url('../img/pessoas-festa.png');
    transform: scale(1.05);
}

#sobre #front-2 {
    background-image: linear-gradient(to bottom, #ff704352, #a5a5a559), url('../img/pessoas-festa-salgados.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    transition: transform 0.5s ease-in;
}

#sobre #front-2:hover {
    background-image: linear-gradient(to bottom, #ffffff52, #00000059), url('../img/pessoas-festa-salgados.png');
    transform: scale(1.05);
}

#sobre #front-3 {
    background-image: linear-gradient(to bottom, #ff704352, #a5a5a559), url('../img/varios-salgados.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    transition: transform 0.5s ease-in;
}

#sobre #front-3:hover {
    background-image: linear-gradient(to bottom, #ffffff52, #00000059), url('../img/varios-salgados.png');
    transform: scale(1.05);
}

#sobre .card-back {
    background-color: var(--secondary-color);
    transform: rotateY(180deg);
}

#sobre .card-front h1,
#sobre .card-back p {
    color: var(--white-color);
    padding: 0 2rem;
    text-align: justify;
}

/* ------------------------------------------DIV FALE CONOSCO----------------------------------------------------------------- */

#div-conosco {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    background-color: var(--white-color);
    width: 90%;
    max-width: 60rem;
    margin: 2rem auto 0;
    border-radius: 1rem;
    text-align: center;
    justify-content: center;
    padding: 2rem;
    font-size: 1.2rem;
    font-weight: bold;
}

#div-conosco h3 {
    color: var(--secondary-color);
    font-size: 2.4rem;
    margin-bottom: 0;
}

#div-conosco p {
    font-size: 1.6rem;
    color: var(--secondary-color);
    margin: 0;
}

#div-conosco a {
    width: 90%;
    max-width: 40rem;
    background: var(--secondary-color);
    padding: 1.5rem;
    border-radius: 1rem;
    color: var(--white-color);
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    transition: .3s;
    text-shadow: 0.1rem 0.2rem 0.5rem black;
}

#div-conosco a:hover {
    transform: translateY(-0.3rem) scale(1.01);
    box-shadow: 0 0.6rem 1.8rem rgba(255, 255, 255, 0.7);
}

#div-conosco i {
    color: #25D366;
    margin-right: 1rem;
    font-size: 2rem;
}

/* -----------------------------------------------CONTATO------------------------------------------------------------ */

#contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 81.7vh;
    background: var(--white-color);
}

#contato h3 {
    text-align: center;
    margin: 0 3rem;
    padding: 1.5rem;
}

#contato div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contato #dados-contato {
    padding: 0 10rem;
}

#contato p {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    line-height: 2;
}

#contato .p-contato {
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

#contato #rede-social {
    flex-direction: row;
    gap: 2rem;
}

#contato #rede-social i {
    color: var(--secondary-color);
    font-size: 3rem;
    margin-top: 1.5rem;
    transition: transform 1s;
    padding-top: 3rem;
}

#contato #rede-social i:hover {
    transform: translateY(-0.3rem) scale(1.3);
    color: var(--primary-color);
}

#contato iframe {
    width: 90%;
    max-width: 600px;
    height: 450px;
}

/* -----------------------------------------------BOTÃO RETORNAR AO TOPO------------------------------------------------------------ */
#topo a {
    background: var(--background-color);
    color: var(--secondary-color);
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    font-size: 3rem;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.6);
}

#topo a:hover {
    transform: scale(1.2);
}

/* -----------------------------------------------FOOTER------------------------------------------------------------ */
footer {
    background: var(--secondary-color);
    color: var(--white-color);
    text-align: center;
    height: 13vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

footer .logo-mdy {
    padding: 2rem 5rem 2rem 0;
}

footer .footer-logo {
    width: 13rem;
}

footer p {
    margin-bottom: 0;
    font-size: 1.4rem;
}

/* -----------------------------------------------RESPONSIVIDADE------------------------------------------------------------ */


body {
    font-size: 1.6rem;
}

header nav ul {
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 0;
}

#sobre .container {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

#sobre .card {
    width: 90%;
    height: 300px;
}

#sobre .card-front h1 {
    font-size: 2.5rem;
}

#sobre .card-back p {
    font-size: 1.4rem;
}

#contato {
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    background: var(--white-color);
}

#contato #dados-contato {
    padding: 0 5%;
    text-align: center;
}

#contato #rede-social {
    padding: 2rem 0;
}

#contato iframe {
    width: 90%;
    height: 300px;
    margin-top: 2rem;
}


@media (min-width: 768px) {
    header nav ul {
        flex-direction: row;
        gap: 5rem;
        padding: 5rem 0;
    }

    #sobre .container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    #sobre .card {
        width: 45%;
        height: 350px;
    }

    #contato {
        height: 87vh;
        padding: 3rem 0;
    }

    #contato #dados-contato {
        padding: 0 5rem;
        text-align: left;
    }
}


@media (min-width: 1024px) {
    header nav ul {
        gap: 10rem;
    }

    #sobre .container {
        flex-wrap: nowrap;
        gap: 2rem;
    }

    #sobre .card {
        width: 300px;
        height: 400px;
    }

    #contato {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 3rem 0;
    }

    #contato iframe {
        width: 600px;
        height: 450px;
        margin-top: 0;
    }

    #contato #dados-contato {
        padding: 0 10rem;
        text-align: left;
    }
}